<p id="notice"><%= notice %></p>

<p>
  <strong>Reg no:</strong>
  <%= @user.reg_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @user.occupation %>
</p>

<p>
  <strong>Income:</strong>
  <%= @user.income %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @user.place_of_birth %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Time of birth:</strong>
  <%= @user.time_of_birth %>
</p>

<p>
  <strong>Brothers married:</strong>
  <%= @user.brothers_married %>
</p>

<p>
  <strong>Brothers unmarried:</strong>
  <%= @user.brothers_unmarried %>
</p>

<p>
  <strong>Sister married:</strong>
  <%= @user.sister_married %>
</p>

<p>
  <strong>Sister unmarried:</strong>
  <%= @user.sister_unmarried %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Fathers name:</strong>
  <%= @user.fathers_name %>
</p>

<p>
  <strong>Residentail address:</strong>
  <%= @user.residentail_address %>
</p>

<p>
  <strong>Parents phone number:</strong>
  <%= @user.parents_phone_number %>
</p>

<p>
  <strong>Fathers occupation:</strong>
  <%= @user.fathers_occupation %>
</p>

<p>
  <strong>Fathers occupation address:</strong>
  <%= @user.fathers_occupation_address %>
</p>

<p>
  <strong>Fathers income:</strong>
  <%= @user.fathers_income %>
</p>

<p>
  <strong>Origin in sindh:</strong>
  <%= @user.origin_in_sindh %>
</p>

<p>
  <strong>Height in inches:</strong>
  <%= @user.height_in_inches %>
</p>

<p>
  <strong>Wight in kg:</strong>
  <%= @user.wight_in_kg %>
</p>

<p>
  <strong>Complexion:</strong>
  <%= @user.complexion %>
</p>

<p>
  <strong>Maritial status:</strong>
  <%= @user.maritial_status %>
</p>

<p>
  <strong>Physical status:</strong>
  <%= @user.physical_status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @user.remarks %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
